@charset "UTF-8";
/* loader.module.css */
.githubContainer h1 {
  text-align: center;
  font-size: 44px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
}
.cardsContainer .githubList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
.cardsContainer .githubList .githubItem {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardsContainer .githubList .githubItem .card {
  text-decoration: none;
  color: black;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 350px;
  margin: 20px;
  padding: 16px;
  background-color: #fff;
  height: 330px;
  cursor: pointer;
}
.cardsContainer .githubList .githubItem .card .cardHeader {
  height: 150px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 16px;
}
.cardsContainer .githubList .githubItem .card .cardHeader .imageCard {
  border: 1px solid #ccc;
  border-radius: 20px 20px 0 0;
}
.cardsContainer .githubList .githubItem .card .cardBodyContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
}
.cardsContainer .githubList .githubItem .card .cardBodyContainer .sidebar {
  width: 2px;
  height: 120px;
  border: 1px solid #ccc;
  position: relative;
  top: 30px;
  left: 13px;
  background-color: #ccc;
}
.cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody {
  margin-bottom: 16px;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-around;
  height: 130px;
  width: 50%;
}
.cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardTitle {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardTitle span {
  margin-left: 5px;
}
.cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .second {
  position: relative;
  top: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardText {
  height: 12px;
  display: flex;
  justify-content: center;
  height: 20px;
}
.cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardText .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}
.cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardFooter {
  height: 12px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardFooter span {
  background-color: rgb(20, 198, 20);
  padding: 3px 15px;
  color: white;
  border-radius: 20px;
}

.scrollEffect {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scrollEffect.visible {
  opacity: 1;
}

/* Styles pour les appareils mobiles (jusqu'à 767px) */
@media screen and (max-width: 767px) {
  .githubContainer h1 {
    text-align: center;
    font-size: 24px;
  }
  .cardsContainer {
    display: flex;
    justify-content: center;
  }
  .cardsContainer .githubList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-around;
    padding: 0;
  }
  .cardsContainer .githubList .githubItem {
    margin-bottom: 20px;
    display: flex;
  }
  .cardsContainer .githubList .githubItem .card {
    text-decoration: none;
    color: black;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 20px;
    padding: 16px;
    background-color: #fff;
    height: 230px;
  }
  .cardsContainer .githubList .githubItem .card .cardHeader {
    height: 130px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
  }
  .cardsContainer .githubList .githubItem .card .cardHeader .imageCard {
    border: 1px solid #ccc;
    border-radius: 20px 20px 0 0;
    height: 130px;
    width: 250px;
  }
  .cardsContainer .githubList .githubItem .card .cardBodyContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .cardsContainer .githubList .githubItem .card .cardBodyContainer .sidebar {
    width: 1px;
    height: 80px;
    border: 1px solid #ccc;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: #ccc;
  }
  .cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody {
    margin-bottom: 10px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-around;
    height: 88px;
    width: 50%;
  }
  .cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardTitle {
    height: 15px;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: center;
  }
  .cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardTitle span {
    margin-left: 5px;
  }
  .cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardTitle svg {
    height: 15px;
  }
  .cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .second {
    position: relative;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardText {
    height: 12px;
    display: flex;
    justify-content: center;
    height: 20px;
  }
  .cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardText .logo {
    display: flex;
  }
  .cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardText .logo img {
    margin-top: 10px;
    height: 30px;
    width: 30px;
  }
  .cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardFooter {
    height: 12px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
  }
  .cardsContainer .githubList .githubItem .card .cardBodyContainer .cardBody .cardFooter span {
    background-color: rgb(20, 198, 20);
    padding: 3px 15px;
    color: white;
    border-radius: 20px;
  }
  .modalPics img {
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    width: 250px;
    height: 150px;
  }
  .miniModals {
    background: white;
    max-width: 80% !important;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 80%;
    z-index: 100000;
    overflow: scroll;
  }
  .miniModals h1 {
    margin-bottom: 10px;
    text-decoration: underline;
    background-color: #000;
    color: whitesmoke;
    padding: 10px;
  }
  .annee p {
    color: rgb(76, 72, 72);
    font-size: 10px !important;
  }
  .mission p {
    color: rgb(76, 72, 72);
    font-size: 10px !important;
  }
  .problematique p {
    color: rgb(76, 72, 72);
    font-size: 10px !important;
  }
  .real p {
    color: rgb(76, 72, 72);
    font-size: 10px !important;
  }
  .descriptif {
    text-decoration: underline;
    font-size: 14px;
  }
  .modalText .tech {
    display: flex;
    background-color: #000;
    padding: 3px 7px;
    border-radius: 5px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-wrap: wrap;
    font-size: 10px;
  }
  .containerModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* Styles pour les tablettes (768px à 1023px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .githubContainer h1 {
    text-align: center;
    font-size: 30px;
  }
}
/* styles.css */
.customModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.modalContent {
  background: white;
  max-width: 90%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 80%;
  z-index: 100000;
  overflow: scroll;
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}
.modalClose span {
  font-size: 20px;
}
.modalClose span:hover {
  color: red;
}

.modalContent h1 {
  margin-bottom: 10px;
  text-decoration: underline;
  background-color: #000;
  color: whitesmoke;
  padding: 10px;
}

.modalPics img {
  margin: 10px;
  border: 2px solid black;
  border-radius: 20px;
}

.modalPics {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalPics div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.modalText {
  margin-top: 20px;
  width: 50%;
}

.modalText h2 {
  margin-bottom: 10px;
}

.modalText .techno {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modalText .tech {
  display: flex;
  background-color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-wrap: wrap;
}

.test {
  display: flex;
  flex-direction: column;
}

.containerModal {
  display: flex;
}

.descriptif {
  text-decoration: underline;
}

.technos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.miniModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.annee p {
  color: rgb(76, 72, 72);
  font-size: 18px;
}

.mission p {
  color: rgb(76, 72, 72);
  font-size: 18px;
}

.problematique p {
  color: rgb(76, 72, 72);
  font-size: 18px;
}

.real p {
  color: rgb(76, 72, 72);
  font-size: 18px;
}

.miniModals {
  background: white;
  max-width: 40%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 80%;
  z-index: 100000;
  overflow: scroll;
}

.miniModals h1 {
  margin-bottom: 10px;
  text-decoration: underline;
  background-color: #000;
  color: whitesmoke;
  padding: 10px;
}

.modalText {
  width: 100%;
}/*# sourceMappingURL=github.module.css.map */