@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Sora:wght@100;200;300;400;500&display=swap");

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

* {
  font-family: "Sora", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  padding: 0;
  margin-right: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li .link {
  font-size: 20px;
  color: black;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
}

header ul li .link:hover {
  color: aliceblue;
  background-color: black;
  border-radius: 10px;
}

.diiv {
  width: 100%;
}

* {
  font-family: "Sora";
}

body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo:hover {
  animation: rotation 3s linear infinite;
}

/* Styles pour les appareils mobiles (jusqu'à 767px) */
@media screen and (max-width: 767px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header ul li .link {
    font-size: 7px;
    color: black;
    margin: 5px;
    text-decoration: none;
    padding: 3px;
  }

  header ul li .link:hover {
    color: aliceblue;
    background-color: black;
    border-radius: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 361px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header ul li .link {
    font-size: 5px;
    color: black;
    margin: 5px;
    text-decoration: none;
    padding: 3px;
  }

  header ul li .link:hover {
    color: aliceblue;
    background-color: black;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header ul li .link {
    font-size: 12px;
    color: black;
    margin: 5px;
    text-decoration: none;
    padding: 3px;
  }

  header ul li .link:hover {
    color: aliceblue;
    background-color: black;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=globals.css.map */





.not-found-wrapper{
  min-height: 92vh;
  width: 100%;

  display: flex;
  
}

.images{
  border: 1px solid black;
  border-radius: 20px;

}
.number-4{
  border: 1px solid blue;
}
.number-0{
  border: 1px solid red;
}
::selection{
  color: whitesmoke;
  background-color: black;
}

.circle{
  border: 1px solid whitesmoke;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: relative;
}
#circle-container{
  position: absolute;
  border: 1px solid black;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

}

.circle-contain{
  border: 1px solid red;
}