.descriptionContainer {
    background-color: black;
    min-height: auto;
    position: relative;



    .svgContainer {
        width: 100%;
        position: absolute;
        top: 6.5px;
        left: 0;
        right: 0;
        display: flex;
        z-index: -1;
        
    }

    svg {
        position: absolute;
        bottom: 0;

        

    }

    .informationContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50vh;

        position: relative;
        bottom: 40px;

        .textInfo {

            p{
                margin: 0;
            }
            width: 50%;
            padding: 20px;

            .tag {
                color: black;
                background-color: white;
            }
        }

        p {
            color: white;
            font-size: 24px;

        }
    }


    .borderSquare {
        border: 3px solid white;
        height: 260px;
        width: 260px;
        display: flex;
        justify-content: center;
        align-items: center;

        .square,
        .square::before,
        .square::after {
            height: 250px;
            width: 250px;
            background-color: white;
        }
    }


}







.crossAnimation {
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.scrollEffect {
    opacity: 0;

    transition: opacity 0.5s ease, transform 0.5s ease;
}

.scrollEffect.visible {
    opacity: 1;

}

@media screen and (max-width: 767px) {
    .descriptionContainer {
        width: 100% !important;
        background-color: black;
        min-height: auto;
        position: relative;


        .svgContainer {
            width: 100%;
            position: absolute;
            top: 6.5px;
            /* Adjust this value to control the vertical position above the section */
            left: 0;
            right: 0;
            display: flex;

            z-index: -1;
            /* Make sure the SVG is behind the content */
        }

        svg {
            position: absolute;
            bottom: 0;

        }

        .informationContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;

            height: 45vh;

            .textInfo {

                width: 100%;
                p{
                    font-size: 10.5px;
                }


                .tag {
                    color: black;
                    background-color: white;
                }
            }

            p {
                color: white;
                font-size: 10px;
                position: relative;
                left: 10px;
            }
        }


        .borderSquare {
            border: 3px solid white;
            height: 100px;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: 10px;
            .square,
            .square::before,
            .square::after {
                height: 80px;
                width: 80px;
                background-color: white;


            }
        }


    }

    .crossAnimation {
        height: 90px;
        width: 90px;
    }

}

/* Styles pour les tablettes (768px à 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .descriptionContainer {
        width: 100% !important;
        background-color: black;

        position: relative;





        .informationContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 45vh;

            .textInfo {

                width: 100%;



                .tag {
                    color: black;
                    background-color: white;
                }
            }

            p {
                color: white;
                font-size: 13px;
                position: relative;
                left: 10px;
            }
        }

        .borderSquare {
            
            height: 130px;
            width: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
left: 10px;
     
            .square,
            .square::before,
            .square::after {
                height: 100px;
                width: 100px;
                background-color: white;


            }
        }


    }

    .crossAnimation {
        height: 100px;
        width: 100px;
    }
}




.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
    z-index: 10;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);

    }
}