@charset "UTF-8";
.competencesContainer .competencesContains {
  background-color: black;
  position: relative;
}
.competencesContainer .competencesContains h1 {
  text-align: center;
  font-size: 44px;
  color: white;
  position: relative;
  top: 10px;
}
.competencesContainer .competencesContains .stacks {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.competencesContainer .competencesContains .stacks .backendContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.competencesContainer .competencesContains .stacks .backendContainer .backendTitle h2 {
  color: white;
}
.competencesContainer .competencesContains .stacks .backendContainer .backend {
  height: 230px;
  width: 80%;
  border: 3px solid #ccc;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.competencesContainer .competencesContains .stacks .frontContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.competencesContainer .competencesContains .stacks .frontContainer .frontTitle h2 {
  color: white;
}
.competencesContainer .competencesContains .stacks .frontContainer .frontend {
  height: 230px;
  width: 80%;
  border: 3px solid #ccc;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.competencesContainer .competencesContains .svgBottom {
  position: relative;
  top: 20px;
}

.image-container {
  position: relative;
  width: 100%;
  /* Ajustez en fonction de la largeur totale des images */
  overflow: hidden;
  height: 200px;
  /* Ajustez en fonction de la hauteur de vos images */
  display: flex;
}

.slide-animation {
  display: flex;
  width: 100%;
  justify-content: space-around;
  transition: transform 0.3s ease;
}

.image-item {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-item img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image-item .progress {
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Applique le filtre de gris uniquement aux images dans .slide-animation sauf l'image survolée */
.slide-animation:hover .image-item:not(:hover) img {
  filter: grayscale(100%);
}

/* Restaurez l'apparence normale de l'image survolée */
.image-item:hover img {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.scrollEffect {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scrollEffect.visible {
  opacity: 1;
}

/* Styles pour les appareils mobiles (jusqu'à 767px) */
@media screen and (max-width: 767px) {
  .competencesContainer .competencesContains {
    background-color: black;
    position: relative;
  }
  .competencesContainer .competencesContains h1 {
    text-align: center;
    font-size: 24px;
    color: white;
  }
  .competencesContainer .competencesContains .stacks {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .competencesContainer .competencesContains .stacks .backendContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .competencesContainer .competencesContains .stacks .backendContainer .backendTitle h2 {
    color: white;
    font-size: 19px;
  }
  .competencesContainer .competencesContains .stacks .backendContainer .backend {
    height: 100px;
    width: 80%;
    border: 3px solid #ccc;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .competencesContainer .competencesContains .stacks .frontContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .competencesContainer .competencesContains .stacks .frontContainer .frontTitle h2 {
    color: white;
    font-size: 19px;
  }
  .competencesContainer .competencesContains .stacks .frontContainer .frontend {
    height: 100px;
    width: 80%;
    border: 3px solid #ccc;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .competencesContainer .competencesContains .svgBottom {
    position: relative;
    top: 20px;
  }
  .competencesContainer img {
    height: 25px;
    width: 25px;
  }
  .competencesContainer .slide-animation {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    transition: transform 0.3s ease;
  }
  .competencesContainer .image-container {
    position: relative;
    width: 100%;
    /* Ajustez en fonction de la largeur totale des images */
    overflow: hidden;
    height: 100px;
    /* Ajustez en fonction de la hauteur de vos images */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .progress {
    height: 50px !important;
    width: 50px !important;
  }
}
/* Styles pour les tablettes (768px à 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .competencesContains img {
    height: 30px !important;
    width: 30px !important;
  }
  .competencesContains .progress {
    height: 50px !important;
    width: 50px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 361px) {
  .svgContainer {
    position: relative;
    bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .competencesContainer .competencesContains h1 {
    text-align: center;
    font-size: 30px;
    color: white;
  }
  .competencesContainer .competencesContains .stacks {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .competencesContainer .competencesContains .stacks .backendContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .competencesContainer .competencesContains .stacks .backendContainer .backendTitle h2 {
    color: white;
    font-size: 19px;
  }
  .competencesContainer .competencesContains .stacks .backendContainer .backend {
    height: 100px;
    width: 80%;
    border: 3px solid #ccc;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .competencesContainer .competencesContains .stacks .frontContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .competencesContainer .competencesContains .stacks .frontContainer .frontTitle h2 {
    color: white;
    font-size: 19px;
  }
  .competencesContainer .competencesContains .stacks .frontContainer .frontend {
    height: 100px;
    width: 80%;
    border: 3px solid #ccc;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .competencesContainer img {
    height: 40px;
    width: 40px;
  }
  .competencesContainer .slide-animation {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    transition: transform 0.3s ease;
  }
  .competencesContainer .image-container {
    position: relative;
    width: 100%;
    /* Ajustez en fonction de la largeur totale des images */
    overflow: hidden;
    height: 100px;
    /* Ajustez en fonction de la hauteur de vos images */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=competences.module.css.map */